body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#library {
    display: flex;
    flex-wrap: wrap;
}

.book-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px;
}

.book-card button {
    margin-top: 10px;
    display: block;
}

dialog {
    padding: 20px;
    border: 1px solid #ccc;
}

#new-book-button {
    margin-top: 20px;
}
footer {
    margin-top: auto;
    background-color: #0c4a6e;
    color: white;
    text-align: center;
}

footer a {
    color: lightgray;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
}
